#Directories
.vs/

#Files
*.user
*.obj
*.obj
BallsToTheWall/x64/Debug/Ball.obj
*.log
*.tlog
x64/Debug/BallsToTheWall.exe
x64/Debug/BallsToTheWall.ilk
x64/Debug/BallsToTheWall.pdb
BallsToTheWall/x64/Debug/BallsToTheWall.tlog/link.read.1.tlog
BallsToTheWall/x64/Debug/BallsToTheWall.tlog/link.write.1.tlog
x64/Debug/BallsToTheWall.exe
x64/Debug/BallsToTheWall.ilk
x64/Debug/BallsToTheWall.pdb
BallsToTheWall/x64/Debug/BallsToTheWall.tlog/link.command.1.tlog
BallsToTheWall/x64/Debug/BallsToTheWall.tlog/link.read.1.tlog
BallsToTheWall/x64/Debug/BallsToTheWall.tlog/link.write.1.tlog
BallsToTheWall/x64/Debug/Enemy.obj
BallsToTheWall/x64/Debug/EnemyManager.obj
BallsToTheWall/x64/Debug/Healthbar.obj
BallsToTheWall/x64/Debug/InputManager.obj
BallsToTheWall/x64/Debug/Keyboard.obj
BallsToTheWall/x64/Debug/Main.obj
BallsToTheWall/x64/Debug/Mouse.obj
BallsToTheWall/x64/Debug/ParticleSystem.obj
BallsToTheWall/x64/Debug/Player.obj
BallsToTheWall/x64/Debug/Random.obj
BallsToTheWall/x64/Debug/Sandbox.obj
BallsToTheWall/x64/Debug/SummonSystem.obj
BallsToTheWall/x64/Debug/TimeTracker.obj
BallsToTheWall/x64/Debug/TriangleEnemy.obj
BallsToTheWall/x64/Debug/vc142.idb
BallsToTheWall/x64/Debug/vc142.pdb
BallsToTheWall/x64/Debug/Window.obj
x64/Debug/BallsToTheWall.pdb
